@import "../../Colors.css";


.info{
    
    img{
        width: 100px;
    }
    p{
        color: var(--gray);
        width: 80%;
    }
    a{
        display: flex;
        margin-top: 80px;
        text-decoration: none;
        font-weight: 600;
    }
}
